asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
oauthlib
psycopg2-binary
PyJWT
python-dotenv
python3-openid
pycparser
pytz
idna
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
stripe
typing_extensions
urllib3
